/* Gallery Navbar */

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: lightgrey;
}
.container{
    top: 150px;
    height: 70px;
    width: 70px;
    background-color: darkgray;
    border-radius: 50px;
    position: relative;
    transition: 0.4s ease;
    margin-left: 10px;
}
.container.active{
    height: 420px;
}
.toggleBox{
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50px;
  }
  .icon{
    position: absolute;
    height: 4px;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161d2c;
    border-radius: 50px;
  }

  .toggleBox.active .icon{
    width: 0;
  }

  .icon::before, .icon::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #161d2c;
    border-radius: 50px;
    transition: 0.3s;
  }
  .icon::before{
    top: 12px;
  }
  .icon::after{
    bottom: 8px;
  }
  
  .toggleBox.active .icon::before{
    width: 40px;
    transform-origin: right;
    transform: translate(-22px,4px) rotate(45deg);
  }
     
  .toggleBox.active .icon::after{
    width: 40px;
    transform-origin: right;
    transform: translate(-22px,-6px) rotate(-45deg);
  }
     
  .navItems{
    width: 100%;
    visibility: hidden;
  }  
  .container.active .navItems{
    visibility: visible;
  }
  ul.navItems{
    margin: 0;
  }
  li{
    list-style: none;
  }
  li a{
    text-transform: uppercase;
    color: #161d2c;
  }
  li a i{
    position: relative;
    display: block;
    font-size: 18px;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
  }
  li a i::after{
    position: absolute;
    content: '';
    top: 100%;
    right: 0%;
    width: 0px;
    height: 50%;
    transform: translateY(-50px);
    background-color: lightsalmon;
    border-radius: 8px 0 0 8px;
  }
li:hover a i::after{
    width: 8px;
    transition: 0.3s;
}
  .container.active .navItems li a i{
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--i));
  }
  .container.active .navItems li:hover a i{
    transition: 0.2s ease;
    color: orangered;
  }
  li a span{
    position: absolute;
    color: orange;
    margin: 22px 0;
    font-weight: 500;
    letter-spacing: 2px;

  }
  .container.active .navItems li a span{
    transform: translateX(15px);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--g));
  }
  .container.active .navItems li:hover a span{
    transform: translateX(30px);
    transition: 0.2s ease;
    color:  rgb(201, 144, 39);;
  }

  /* Gallery Images */

  img{
    width: 500px;
    height: 600px;
    border-radius: 10px;
  }
  img:hover{
    transition: transform .2s;
    transform: scale(0.7);
    z-index: 2;
    opacity: 0.5;
  }
  .hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
  }
  .hero .carousel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
  }
  
