/*----------------------------------------------------- Fonts */


/*---------------------------------------------- Basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*----------------------------------------------------- Header */

/* .header {
    height: 7rem;
    border: 1px solid #000;
    margin-top: 1em;
    text-align: center;
} */

/*----------------------------------------------------- Section */

section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

/* nav ul {
    display: flex;
} */


/* -- Navbar -- km */

nav {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: white;
}

/* -- Get-Involved -- */
#get-involved {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: rgb(126, 41, 26);
    color: #fff;
    font-weight: 700;
    padding: 1em 2.5em;
    margin: 2em auto;
    transition: all 100ms ease-out;
}

#get-involved:hover {
    background-color: rgb(184, 27, 27);
    font-size: 17px;
}

/*----------------------------------------------------- Footer */

/*------------------------------------------------------- Main */

/* Hero image */

/* .hero-image {
    height: 90vh;
    max-width: 100%;
    border: 1px solid #000;
    color: #fff;
    background-image: url('../images/hero-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.hero-image h1 {
    color: rgb(221, 57, 57);
    margin-top: 1.5em;
    text-align: center;
    font-size: 3em;
    background-color: #00000048;
}

.main-heading h2 {
    text-align: center;
    color: rgb(221, 57, 57);
    font-size: 2em;
    background-color: #00000048;
    margin-top: 6em;
} */

/* -- Hero image -- km */

.hero-image {
    height: 100vh;
    color: white;
    font-size: 30px;
    background-image: url("/assets/images/RhinoP.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.container {
    max-width: 350px;
    text-align: center;
    padding: 1px;
    margin-top: 50px;
}

.container p {
    font-size: 20px;
}

.buttonD {
    width: 200px;
    height: 60px;
    /* border-radius: 32.5px; */
    background-color: #e73d3d;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 60px;
}

.buttonA {
    width: 200px;
    height: 60px;
    /* border-radius: 32.5px; */
    background-color: #e1bf69;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 60px;
}

/* Gallery */

.gallery {
    height: 35rem;
    border: 1px solid #000;
}

/* Get involved */

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.cta-btn {
    text-decoration: none;
    border: 1px solid #000;
    padding: 1rem 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

@media screen and (min-width: 768px) {

    .projects {
        flex-direction: row;
    }

    .projects > * {
        flex: 1;
    }

    .projects-title {
        margin-bottom: 1rem;
    }
}