/*----------------------------------------------------- Fonts */


/*---------------------------------------------- Basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------- Header */

/*----------------------------------------------------- Footer */

/*------------------------------------------------------- Main */

/****************************************************************
************************* Media queries *************************
*****************************************************************/
